
.h1-index{
    @include formatoH1(xx-large,white,red);
    border-radius: 20px;
    background:rgba(255,0,0, 0.7)
}
.h1-secciones{
    @include formatoH1(40px,$colorHover,"");
}        
.usarFlex{
    justify-content: center;
}
.usarFlex2{
    justify-content: space-around;
}
.contenidoIconos {

    h2{
        color: $colorPrincipal;
    }    
}
.contenidoIconos{
    p{
        color: $colorHover;
    }
}
.prodDesc{
    background-color: $colorPrincipal;
    border-radius: 50px;
    &:hover{
        background-color: $colorHover;
    }
}
.tarjetaProd{
    transition: all 0.2s;
    &:hover{
        transform: scale(1) translateY(-10px);
    }
}
.fc-qs{
    p{
        color: $colorHover;
    }
    h2{
        color: $colorSecundario;
    }
}
.contacto{
    h2{
        color: $colorSecundario;
    } 
}
.datosDContacto{
    h2{
        margin-bottom: 20px;
    }
    h5{
        font-size: large;
    }
    div{
        display: flex;
        section{
            margin: 10px 15px 0px 0px;
            h3{
                margin-top: 7px;
            }
            h4{
                margin-top: 11px;
            }
        }
    }
} 
.ddcIcon{
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    img{
        margin-top: 3px;
    }
}
.btn{
    background-color: $colorPrincipal;
}